body {
  background-image: url(' http://vignette3.wikia.nocookie.net/neptunia/images/b/be/Back_Alley.PNG/revision/latest?cb=20130923181106');
}

/* PLAYER PARTS */

#mover {
  position: relative;
  height: 300px;
  width: 300px;
  margin-left: 160px;
  margin-top: 225px;
}

div#head {
  width: 100px; height: 150px;
  margin-left: 145px;
  background-image: url('../img/tupac.png');
  background-size: cover;
  background-position: center;
  border-radius: 40%;
  position: absolute;
}

#booty {
  height: 300px;
  width: 200px;
  margin-top: 125px;
  margin-left: 100px;
  background-image: url('http://vignette1.wikia.nocookie.net/deadrising/images/2/20/Dead_rising_White_Business_Suit_and_Striped_Tie.png/revision/latest?cb=20140409153211');
  background-size: cover;
  position: absolute;
  z-index: -1;
}

#left-arm {
  position: absolute;
  width: 100px;
  height: 100px;
  margin-left: 50px;
  margin-top: 245px;
  background-image: url('http://i.imgur.com/GMCUO.png');
  background-size: cover;
  background-position: center;
  transform: rotate(-65deg);
  z-index: -1;
}

#right-arm {
  position: absolute;
  width: 100px;
  height: 100px;
  margin-left: 220px;
  margin-top: 255px;
  background-image: url('http://i.imgur.com/GMCUO.png');
  background-size: cover;
  background-position: center;
  z-index: -1;
  transform: rotate(40deg) scaleX(-1);
}

#right-shoe {
  position: absolute;
  height: 100px;
  width: 110px;
  margin-left: 200px;
  margin-top: 380px;
  background-image: url('https://openclipart.org/image/2400px/svg_to_png/169384/brown-shoes.png');
  background-size: cover;
}

#left-shoe {
  position: absolute;
  height: 100px;
  width: 110px;
  margin-left: 100px;
  margin-top: 380px;
  background-image: url('https://openclipart.org/image/2400px/svg_to_png/169384/brown-shoes.png');
  background-size: cover;
  transform: scaleX(-1)
}
/*////////////////////*/
   /* ANIMATIONS */
/*///////////////////*/

.shake {
  animation: shake 0.3s infinite alternate;
}

@keyframes shake {
  0% {left: -10px; }
  100% {left: 15px; }
}

.bump {
  animation: bump 0.3s infinite alternate;
}

@keyframes bump {
  0% {top: 10px; }
  100% {top: 20px; }
}

.nene {
  animation: nene 0.3s infinite alternate;
}

@keyframes nene {
  from {
    transform: rotate(-5deg);
  }
  to {
    transform: rotate(5deg);
  }
}
.mc-hammer {
    animation: mc-hammer 2s infinite alternate;
}

@keyframes mc-hammer {
  0% {left: 600px; }
  100% { left: 20px; }
}

.keanu {
  animation: keanu 2s infinite alternate;
}

@keyframes keanu {
  100% {transform: rotate(360deg)};
}

.fadein {
  animation: fadein 1.75s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* STATUS BARS AND PROMPTS */

#prompt-div {
  position: absolute;
  text-align: center;
  font-family: 'Chelsea Market', cursive;
  color: #D2527F;
  font-size: 100px;
  top: 0;
  left: 500px;
  height: 100px;
  width: 400px;
}

#status-bar {
  position: absolute;
  right: 3%;
  top: 3%;
  width: 350px;
  height: 100px;
  padding: 1%;
}

#points-div {
  position: relative;
  font-family: 'Chelsea Market', cursive;
  font-size: 175%;
  color: white;
  width: 100%;
  height: 40%;
  text-align: center;
  background-color: rgba(0, 0, 0, .25);
}

#moxy-div {
  background-color: rgba(255, 255, 255, .25);
  width: 100%;
  height: 40%;
  text-align: center;
  font-family: 'Chelsea Market', cursive;
  font-size: 175%;
  margin-top: 1em;
}

button {
  position: absolute;
  font-family: 'Chelsea Market', cursive;
  font-size: 100%;
  background-color: #4CAF50;
  color: #fff;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6), 0 6px 20px 0 rgba(0,0,0,0.4);
  pading: 1%;
  top: 10%;
  left: 22%;
  width: 200px;
  height: 40px;
  border-radius: 12px;
}
