body {
  background-color: #000;
}

.fadein {
  animation: fadein 1.75s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.color-switch {
  animation: color-switch 1s alternate infinite;
}

@keyframes color-switch {
    from {background-color: green;}
    to {background-color: purple;}
}

#start {
  position: relative;
  margin: 20% auto;
  height: 200px;
  width: 400px;
  color: #fff;
  font-size: 250%;
  animation: fadein 5s
}

#dump {
  position: relative;
  text-align: center;
  margin: 20% auto;
  height: 100px;
  width: 600px;
  color: #fff;
  font-family: 'Chelsea Market', cursive;
  font-size: 300%;
  font-weight: 600;
  box-shadow: 0px 0px 30px 30px rgba(255, 255, 255, 0.6);
  padding: 1%;
}

#press {
  position: relative;
  margin: 0 auto;
  width: 100px;
  height: 500px;
  color: white;
}

#next-page {
  position: absolute;
  right: 5%;
  bottom: 5%;
  font-size: 150%
}

#press a,
#next-page a {
  text-decoration: none;
  color: #fff;
}

#press a:hover,
#next-page a:hover {
  text-decoration: underline;
}

#press a:active,
#next-page a:active {
  color: lightblue;
}


